body {
  background-color: #242424;
  color: rgb(255, 255, 255);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  margin: 16px;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

li {
  list-style: none;
  margin: 8px;
  padding: 8px;
  border: whitesmoke 3px solid;
  border-radius: 8px;
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;
}
